/*
html {
	height: 100%;
}

body {
	background-color: #7a7983;
	height: 100%;
}

#wrapper {
	height: 100%;
}

#stack {
	width: 100%;
	position: absolute;
	bottom: 0;
}
*/

.ui-select {
	width: auto;
	display: inline-block;
}

#main {
	position: absolute;
	width: 100%;
	height: 100%;
}

textarea#edit {
	width: 94%;
	height: 350px;
	max-height: 350px;
	background-color: white;
	font-size: 12pt;
}

#error {
	width: 96%;
	height: 24px;
	font-size: 16px;
	color: red;
	border: 1px solid black;
}

.buttons {
	position: absolute;
	width: 100%;
	bottom: 380px; /* 一体英語ソフトキーボードの高さ */
/*	bottom: 360px; /* 分割英語ソフトキーボードの高さ */
}

.clear {
	clear: both;
}

#numbers {
}

.scroll {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.key {
	position: relative;
	float: left;
}

.button {
	float: left;
	width: 58px;
	height: 58px;
	line-height: 58px;
	font-family: sans-serif;
	font-size: 17pt;
	background-color: #dbdbdb;
	border: 1px solid black;
	margin-right: 9px;
	margin-bottom: 9px;
	text-align: center;
	-webkit-box-shadow: 0px 2px 0px rgba(0,0,0,0.5);
	-webkit-border-radius: 8px;  
}

.second {
	display: none;
	position: relative;
	left: 0;
	top: -220%;
}

/*
#menubar {
	clear: both;
} 

.menu {
	margin: 10px;
	float: left;
	width: 80px;
	height: 30px;
	font-size: 10pt;
}

#footer {
	position: relative;
	bottom: 0;
}
*/
