<%# coding: UTF-8 %>
<%
require 'uri'

def bookmarklet filename
  File.open(filename, 'r') do |file|
    URI.encode(file.read, /[^^-_.!~*'()a-zA-Z\d;\\\/?:@&=+$,\[\]%\{\}<>]/)
  end
end
%>
<!DOCTYPE html>
<html>
  <head>
<title>英和辞書</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<script type="text/javascript">
function pronounce_bookmarklet() {
  document.location = 'bml2.html#' + "<%= bookmarklet 'bookmarklets/pronounce.min.js' %>";
}
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-510249-12']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
<h2>インストールの続き</h2>
<p>
2. このページをブックマークします。<br>
ブックマークの場所はブックマークバーフォルダがお勧めです。
ブックマークの名前は適当に変えてください。
</p><p>
3. ブックマークの編集で、登録したブックマークのアドレスで、先頭から最初の#(シャープ、その隣はjavascript)までを削除してください。
</p>
<h2>発音用ブックマークレット</h2>
<p>
次に発音用ブックマークレットを登録します。<br>
4. 下のボタンをタップすると、ページが変わりますのでそのページでインストールを続けてください。
</p><p>
<form action="">
<input type="button" value="発音ブックマークレット" onclick="pronounce_bookmarklet();">
</form>
</p>
</body>
</html>
